{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h1 class="form-heading">Login</h1>
<div class="loginForm">
<div class="main-div">
    <div class="panel">
        <h2>Login</h2>
        <p>Please enter your e-mail and password</p>
    </div>
    <form method="POST" id="Login">
        {% csrf_token %} 
        <div class="form-group form-control">
            {{ form.as_p }}
        </div>
        <div class="forgot">
            <a href="{% url 'password_reset' %}">Forgot your password? Click here</a>
        </div>
        <div class="newUser">
            <a href="{% url 'register' %}">Are you new? Register here</a>
        </div>
        <button name="LoginButton" type="submit" class="btn btn-primary" value="Login">Login</button>
    </form>
</div>
</div>
</div>
{% endblock %}