{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="form-heading">Reset password</div>
<div class="loginForm">
<div class="main-div">
    <div class="panel">
        <h2>Reset password</h2>
        <p>Send password link to your e-mail</p>
    </div>
    <form method="POST" style="margin-bottom: 50px;">
        {% csrf_token %}
        <div class="form-group form-control">
            {{ form.as_p }}
            <input type="submit" value="Reset">
        </div>
        <a href="{% url 'home' %}">Back to Home page</a>
    </form>
    
</div>
</div>
</div>

{% endblock %}