{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h1 class="form-heading">Change password</h1>
<div class="loginForm">
<div class="main-div">
    <div class="panel">
        <h2>Change password</h2>
        <p>Choose your new password</p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group form-control">
            {{ form.as_p }}
            <input type="submit" value="Change">
        </div>
    </form>
<a href="{% url 'home' %}">Back to Home page</a>
{% endblock %}