{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block content %}

<div class="container">
<h1 class="form-heading">Contact</h1>
<div class="loginForm">
<div class="main-div">
    <h1>Contact</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group form-control">
                {{ form | crispy }}
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        {% if messages %}
        <div class="alert alert-success mt-4" role="alert">
            E-mail sent with success
        </div>
        {% endif %}
</div>
</div>
</div>


{% endblock %}