{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
    
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About the project</h5>
    <div class="card-body">
        <p class="card-text"> This awesome project was made using Django, HTML, CSS and Bootstrap. Click on the button right below to know more about it. </p>
        <a href="{% url 'about_page' %}"
        class="btn btn-danger" style="background-color: #020440; border-color: #020440;">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}